.daterangepicker {
    top: auto;
    left: auto;
}

.row {
    margin-bottom: 1rem;
    margin-top: 5rem;
}

#div_description_list {
    display: none;
}

#description_list {
    height: 30rem;
}

#search_button {
    margin-top: 0.5rem;
}