.editable {
    background-color: #eee;
    border-style: dotted;
}

.admin:focus, .admin:hover {
    background-color: white;
    border-style: solid;
}

textarea {
    resize: vertical;
    min-height: 35px;
}