.alert {
    display: none;
}

.daterangepicker {
    top: auto;
    left: auto;
}

.row {
    margin-bottom: 1rem;
    margin-top: 5rem;
}

#description_row {
    display: none;
}

#description_list {
    height: 30rem;
}

.validated {
    background-color: rgb(53,180,73);
    color: white;
}

.validated:checked {
    background: linear-gradient(#004800, #004800);
}

#search_button {
    margin-top: 0.5rem;
}

#save_button {
    width: 100%;
}